extends ../layouts/layout.pug

block styles 
  link(rel="stylesheet" href="/css/product.css")

block content
  if products.length > 0   
    .grid
      each product in products
        article.card.product-item
          header.card__header
            h1.product__title #{product.title}
          .card__image
            img(src=`/${product.imageUrl}`, alt=`${product.title}`)
          .card__content
            h2.product__price $#{product.price}
            p.product_description #{product.description}
            .card__actions
              a.btn(href=`/manage/edit-product/${product._id}?edit=true`) Edit
              form(action=`/manage/delete-product`, method="POST")
                include ../layouts/includes/csrf.pug
                input(type="hidden" value=`${product._id}` name="productId")
                button.btn(type="submit") Delete
    include ../layouts/includes/pagination.pug
  else 
    h1 No products