extends ../layouts/layout.pug

block styles
  link(rel="stylesheet", href="/css/cart.css")


block content
  h2 Your shopping cart
  if cart.length > 0
    ul(class="cart__item-list")
      each product in cart
        li(class="cart__item")
          h1 #{product.title} 
          h2 #{product.cartItem.quantity}
          div: img(src=`${product.imageUrl}`)            
          form(action="/cart-delete-item" method="POST")
            input(type="hidden", name="productId" value=`${product.id}`)
            button(type="submit" class="btn danger") Delete
    hr
    .centered 
      form(action="/create-order" method="POST")
        button(type="submit" class="btn") Order Now!
    p Total Price: #{cart.totalPrice}
  else 
    h1 No items in cart
  link(rel="stylesheet", href="/css/product.css")
