extends ../layouts/layout.pug

block styles
  link(rel="stylesheet" href="/css/cart.css")
  link(rel="stylesheet" href="/css/product.css")

block content
  h1 Your shopping cart
  if cart.products.length > 0
    ul(class="cart__item-list")
      each product in cart.products
        li(class="cart__item")
          h2 #{product.title} 
          h2 Quantity: #{product.quantity}                   
          h2 Price: $#{product.price}
          form(action="/cart-delete-item" method="POST")
            include ../layouts/includes/csrf.pug
            input(type="hidden" name="productId" value=`${product._id}`)
            button(type="submit" class="btn danger") Delete
    hr
    .centered 
      form(action="/create-order" method="POST")
        include ../layouts/includes/csrf.pug
        button(type="submit" class="btn") Order Now!
    p Total Price: $#{cart.totalPrice} 
  else 
    h1 No items in cart
