extends ../layouts/layout.pug


block styles 
  link(rel="stylesheet" href="/css/orders.css")

block content
  if orders.length > 0
    ul.orders 
      each order in orders
        li.orders__item
          h1 # #{order._id}
          ul.orders__products
            each product in order.products              
              li.orders__products-item 
                h2 #{product.productId.title} (#{product.quantity}) - $#{product.productId.price} - 
                  a(href=`/orders/${order._id}`) Invoice
        p Total Price: $#{order.totalPrice}
  else
    h1 No Orders