extends ../layouts/layout.pug

block styles 
  link(rel="stylesheet" href="/css/product.css")

block content
  if products && products.length > 0   
    .grid
      each product in products
        article.card.product-item
          header.card__header
            h1.product__title #{product.title}
          .card__image
            img(src=`/${product.imageUrl}`, alt=`${product.title}`)
          .card__content
            h2.product__price $#{product.price}
            p.product_description #{product.description}
          .card__actions
            a.btn(href=`/products/${product._id}`) Details
            if(isAuthenticated)
              include ../layouts/includes/add-to-cart.pug

    section.pagination
      //- First Page
      if pagination.current > 1
        a(href=`/?page=1`) |<<

      //- Previous Page
      if pagination.current - 1 > 1
        a(href=`/?page=${pagination.current - 1}`) <

      //- Current Page
      a(href=`/?page=${pagination.current}` class=`active`) #{pagination.current}

      //- Next Page
      if pagination.current + 1 < pagination.pageCount
        a(href=`/?page=${pagination.current + 1}`) >

      //- Last Page
      if pagination.current < pagination.pageCount
        a(href=`/?page=${pagination.pageCount}`) >>|

  else 
    h1 No products